<!DOCTYPE html>
<html ng-app='app'>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='nav'><%= link_to 'Reddit', '#' %> --- 
  <a ui-sref="test">Posts</a> --- 
  <!-- <%= link_to 'Sign In', new_user_session_path %> 
  <%= link_to 'Sign Up', new_user_registration_path %> -->
  <a ui-sref='new_post'>New Post</a>
  </div>

    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

<%= yield %>

</body>
</html>
